
.advantages {
	margin-top: 150px;
}


.box_advantages {
	margin-top: 55px;
	width: 100%;
	font-family: "Arial", sans-serif;
}

.name_advantage {
	margin-top: 16px;
	font-size: 35px;
	font-weight: 700;
}

.description_adv {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 300;
}

.list_advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.advantage {
	padding-top: 30px;
	width: 300px;
}